<div class="register-container">
  <h2>🆕 RegisterComponent</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>Username:</label>
    <input formControlName="username" type="text" />

    <label>Email:</label>
    <input formControlName="email" type="email" />

    <label>Password:</label>
    <input formControlName="password" type="password" />

    <button type="submit" [disabled]="registerForm.invalid">RegisterComponent</button>
  </form>

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
